* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f9fc;
}

/* box-shadow: 0 -3px 12px 0 #000; */

/* === Navbar === */
#navbar {
  background: #fff;
}
#navbar a.navbar-brand img {
  max-width: 180px;
}
#navbar li.nav-item a.active {
  color: #3399ff;
}

/* ===  Side Filter === */
.side_filter {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.side_filter .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

/* === Main Content === */
.main_content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5 !important;
  border: none;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #389cff;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #333;
  /* color: #7288a2; */
  font-size: 1.15rem;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #333;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #389cff;
  border: 1px solid #389cff;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #389cff;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/* === Button Design === */
.accordion .accordion-content .btn {
  display: inline-block;
}
.accordion .accordion-content .btn-buy {
  border: 1px solid #389cff;
  padding: 0px 10px;
  color: #eee;
  background: #389cff;
  font-size: 0.8rem;
  padding-bottom: 3px;
  margin: 0px;
}

.accordion .accordion-content .btn-offer {
  border: 1px solid #eee;
  padding: 0px 10px;
  color: #333;
  background: #eee;
  font-size: 0.8rem;
  padding-bottom: 3px;
  margin: 0px;
}
.accordion .accordion-content .myalert {
  color: #389cff;
}

/* Custom CSS for borderless */
.borderless td,
.borderless th {
  border: none !important;
  padding: 2px !important;
}
.borderless thead,
.borderless tbody {
  border: none !important;
}

.table_item {
  width: 70%;
}

.item_heading .accordion-title {
  width: 50%;
}
.item_heading .accordion-title span {
  display: block;
  font-size: 0.75rem;
  color: #777;
  font-weight: 400;
}
.item_heading .qty_head {
  width: 80px;
  min-width: 80px;
  max-width: 160px;
  text-align: center;
}

.item_heading .pry_head {
  width: 80px;
  min-width: 80px;
  max-width: 160px;
  text-align: center;
}
.item_heading .qty_head span {
  display: block;
  color: #777;
  font-size: 0.9rem;
}
.item_heading .pry_head span {
  display: block;
  color: #777;
  font-size: 0.9rem;
}

.stre_name {
  margin-right: 30px;
}

.accordion button[aria-expanded="true"] .qty_head,
.accordion button[aria-expanded="true"] .pry_head {
  display: none;
}
